.community{
    background-color: rgb(234, 228, 221);
    min-height:100vh;
    margin-top: -20px;
    .line{
        width:80%;
        margin-left: 10%;
        height:1px;
        background-color: orange;
    }
    h1{
        text-align: center;
        padding-top:10px;
    }
    .box{
        width:70%;
        border-radius: 10px;
        background-color: white;
        margin-left: 15%;
        box-shadow: 0px 0px;
        h2,p{
            padding-top: 20px;
            padding-left: 30px;
        }
        .bt1{
            height:30px;
            margin-left: 25px;
            background-color: rgb(189, 72, 72);
            border-radius: 5px;
            border:none;
            color:white;
        }
    }
}