.cources{
    background-color: rgb(234, 228, 221);
    min-height:100vh;
    margin-top: -20px;
    width:100%;
    .line{
        width:80%;
        margin-left: 10%;
        height:1px;
        background-color: orange;
    }
    h1{
        text-align: center;
        padding-top:10px;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        .box1{
            width:30%;
            margin-left: 35%;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 0px;
            height: 100px;
            padding-top: 45px;
            margin-top: 20px;
            h2{
                text-align: center;
            }
        }
    }
}