.home{
    width:100%;
    .header{
        display:flex;
        background-color: hsl(219, 28%, 10%);
        color:white;
        padding-left: 20px;
        ul{
            display:flex;
            gap:30%;
            align-items: center;
            margin-left: 50%;
            li{
                list-style-type: none;
                font-size: 20px;
            }
        }
    }
    .content{
        background-color: antiquewhite;
        display:flex;
        min-height:90vh;
        .left{
            width:50%;
            margin-left: 10%;
            padding-top: 10px;
            h1{
                font-size: 60px;
                width:70%;
            }
            p{
                padding-left: 10%;
                width:70%;
                font-size: 2rem;
                font-weight: 200;
            }
            .bt1{
            border:none;
            border-radius: 10px;
            height: 35px;
            background-color: hsl(38,92%,50%);
            font-weight: 800;
            font-size:1.2rem;
            border-radius: 5px;
            color:white;
            box-shadow: 1px 3px 3px hsl(38,92%,50%);
            }
        }
        .right{
            width:40%;
            .img2{
                width:100%;
            }
            h1{
                text-align: center;
                font-size: 40px;
            }
        }
    }
    .c2{
        background-color:#1F2937;
        color:white;
        padding-top: 1px;
        h1{
          text-align: center;  
          font-size: 40px;
        }
        .boxes{
            display:flex;
            margin-left: 2%;
            gap:10%;
            .bx1,.bx2,.bx3{
                width:50%;
                background-color:#3a4758 ;
                border-radius: 20px;
                padding: 10px;
                h2{
                    text-align: center;
                    color:#F59E0B
                }
            }
        }
    }
    .c3{
        background-color:#F59E0B;
        color:white;
        padding-top:1px;
        text-align: center;
        .signup{
            width:150px;
            background-color:#ebe7e1;
            color:#F59E0B;
            height:40px;
            font-size: 20px;
            border:none;
            border-radius: 10px;
            font-weight: 800;
        }
    }
    .c4{
        background-color:#1F2937;
        color:white;
        padding-top:1px;
        text-align: center;
        h1{
            text-align: center;
        }
    }
    .footer{
        background-color:#1F2937 ;
        padding-top: 1px;
        height:300px;
        ul{
            display:flex;
            padding-top: 40px;
            gap:15%;
            li{
                list-style-type: none;
                width:30%;
            }
            h1{
                font-size: 20px;
                font-weight: 700;
                color:#F59E0B;
            }
            p{
                color:white;
            }
        }
    }
}